body {
	background-color: lightgray;
}
form{
    width: 600px;
    margin: 0 auto;
    border: 3px solid navy;
    padding: 20px;
}
.logo{
    width: 150px;
    display: block;
    margin: 0 auto;
}
h2 {
    text-align: center;
    color: darkgreen;
}
label{
    font-weight: bold;
    
}
.text-input{
    width: 100%;
    padding: 10px;
}
button{
    background-color:green;
    padding: 10px;
    color: white;
}